Takeout.class
CustomArrayList.class
CustomArrayList$Food.class
Food.class
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.vscode/settings.json
target/classes/com/github/jeffmagina/cashier/Cashier.class
target/classes/com/github/jeffmagina/order/Order.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/takeout-0.1.3.jar
.project
.classpath
