Takeout.class
CustomArrayList.class
CustomArrayList$Food.class
Food.class
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.vscode/settings.json
.project
.classpath
target/classes/com/github/jeffmagina/restaurant/order/Order.class
target/classes/com/github/jeffmagina/restaurant/menu/Menu.class
target/classes/com/github/jeffmagina/restaurant/main/Main.class
target/classes/com/github/jeffmagina/restaurant/customer/Customer.class
target/classes/com/github/jeffmagina/restaurant/cashier/Cashier.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/takeout-0.1.3.jar
target/classes/com/github/jeffmagina/restaurant/readresourcefile/ReadResourceFile.class
target/classes/com/github/jeffmagina/restaurant/parsefile/ParseFile.class
target/classes/com/github/jeffmagina/restaurant/orderhistory/OrderHistory.class
target/classes/com/github/jeffmagina/restaurant/customerorder/CustomerOrder.class
target/classes/OrderForm.txt
